//7.31.26: trying double tap tap dance for layer swaps due to involuntary toggling - included shift / caps tap dance 

// Next implementations:
// Wire in the physical power off switches on both halves
// programming of the OLED screens to house custom designs
// Hold tap implementation for shift and capslock
// custom hold tap for left click on nav for drag functionality. 
// shift acceleration for mouse navigation?
// need to change the num pad , & / designations as I need to use both with the numpad (dates & lists of parts) - 12/17/25
// need to change the toggle layer setup - i'm consistently toggling when I don't want to - this is better, but may be good to further fine tune the timing
// change "+" to be numpad plus to work better with file explorer
// input "insert" key to allow ease of use with smartsheet




/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */



#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500 // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#define MO_TOG(layer) &mo_tog layer layer
#define CTRL_TOG(layer) &ctrl_tog layer layer



// defining tapdance behaviors for toggle layers. Goal is: tap = nothing, hold = momentary layer 2, double tap = toggle layer 2.
/ { 
   
    behaviors {

        lay1_td: lay1_td:							// layer 1 Tap Dance behavior
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>; 
			flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&none>, <&tog 1>;  		   	// Single tap = no operation, Double tap = toggle layer 1
        };

		lay1_ht: lay1_ht {							//layer 1 Hold tap behavior
	        compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
			flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo 1>, <&lay1_td>;     		// Single tap = nothing,, Hold = momentary layer 1 swap, & double tap for toggle layer 1		
		};

        lay2_td: lay2_td:							// layer 2 Tap Dance behavior
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>; 
			flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&none>, <&tog 2>;  		   	// Single tap = no operation, Double tap = toggle layer 2
        };

		lay2_ht: lay2_ht {							//layer 2 Hold tap behavior
	        compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
			flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&mo 2>, <&lay2_td>;     		// Single tap = nothing,, Hold = momentary layer 2 swap, & double tap for toggle layer 2		
		};

        shft_cps: shift_caps_dance {				
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
			flavor = "hold-preferred";
            tapping-term-ms = <150>;
            bindings = <&kp LSHIFT>, <&kp CAPS>;     // Single tap/hold is Lshift, & Double tap is Caps lock
        };

        mo_tog: behavior_hold_tap {    
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";            // This flavor allows for preference given to the momentary layer.
            tapping-term-ms = <100>;              // 200 ms time window to register as a 'double tap'
            quick-tap-ms = <100>;
            bindings = <&mo>, <&tog>;             // this will allow single tap to toggle the layer in question with a hold being the traditional momentary layer
        };
            // Still trying this code: for this test: single tap should be the number 6, hold for LCTRL, and Tap + CTRL for LSHIFT
            // this behavior needs to be called out as follows: "layer2_hold_or_toggle 'holding operation' 0" as it requires 2 entries but doesn't use '0' here.
            // tap and tap and hold are modified directly within the behavior itself.
			//7.31.26: I don't think this will work with layer swaps, only individual key strokes.
/*
        ctrl_tog: control_toggle_layer {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <2>;
			bindings = <&mo>, <&tog>; // Default: momentary; +Ctrl: toggle
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
		&mmv {
		    x-input-code = <INPUT_REL_X>;
		    y-input-code = <INPUT_REL_Y>;
		    time-to-max-speed-ms = <600>;
		    acceleration-exponent = <1>;
		}
*/
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   [   |
// | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | CTRL  |  Z  |  X  |  C   |  V   |  B   |   DEL  |  | ENTER |  N   |  M    |  ,    |  .   |   /   |   \   |
//                     | GUI  | ALT  | LOWER|  SPACE |  | BSPC  | RAISE| pgup  | pgdwn |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                      &kp N6 &kp N7     &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                       &kp Y  &kp U      &kp I     &kp O   &kp P    &trans
&shft_cps &kp A  &kp S  &kp D    &kp F    &kp G                       &kp H  &kp J      &kp K     &kp L   &kp SEMI &kp SQT
&kp LCTRL &kp Z  &kp X  &kp C    &kp V    &kp B  &kp DEL    &kp RET   &kp N  &kp M      &kp COMMA &kp DOT &kp FSLH &kp BSLH
                     &kp LGUI &kp LALT &lay1_ht  &kp SPACE  &kp BSPC  &lay2_ht  &kp PG_UP &kp PG_DN
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer { 		// Layer  1: Numpad, music, & BT layer. 
            display-name = "Lower Layer";
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |  "|"  |   /   |   *   |   -   |   =   |
// |   `   |  1  |  2  |  3   |  4   |  5   |                   |      |   7   |   8   |   9   |   +   |   [   |
// | SHIFT |  F9 | F12 | F11  |  F5  |  F6  |                   |      |   4   |   5   |   6   |   ,   |   ]   |
// | CTRL  |  F8 |  F2 |  F7  |  F4  |  F3  |  DEL   |  | ENTER |      |   1   |   2   |   3   |   /   | enter |
//                     |      |      |      |  space |  |  bpsc |      |   0   |   .   |
            bindings = <
&bt BT_CLR &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2    &bt BT_SEL 3 &bt BT_SEL 4             &trans    &kp PIPE  &kp FSLH  &kp STAR    &kp MINUS    &kp EQUAL
&kp GRAVE &trans &trans  &trans   &trans  &kp INS                                              &trans    &kp N7    &kp N8    &kp N9      &kp KP_PLUS  &kp LBKT
&kp LSHFT &kp F9 &kp F12 &kp F11  &kp F5  &kp F6                                               &trans    &kp N4    &kp N5    &kp N6      &kp COMMA    &kp RBKT
&kp LCTRL &kp F8 &kp F2  &kp F7   &kp F4  &kp F3        &kp DEL    &kp RET                     &trans    &kp N1    &kp N2    &kp N3      &kp FSLH     &kp RET
                  &trans     &trans     &trans         &kp SPACE   &kp BSPC                    &trans    &kp N0    &kp DOT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer { 		//Layer 2: navigation layer
            display-name = "Raise Layer";
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   | v_dwn| v_up  |  prev | play | next  | S_off |
// |       | sc_u| mr_c|  mup | ml_c | sc_d |                   |      |       |   ^   |      |       |       |
// | SHIFT | sc_l|mleft| mdwn |mright| sc_r |                   |      |   <-  |   v   |  ->  |       |       |
// | CTRL  |  F8 | F2  |  F7  |  F4  |  F3  |  HOME  |  |  END  |      |       |       |      |       |       |
//                     |      | mm_c |      |  space |  |  bpsc |      |       |       |
            bindings = <
&trans        &trans            &trans            &trans            &trans             &trans                                 &kp C_VOL_DN    &kp C_VOL_UP    &kp C_PREV     &kp C_PP        &kp C_NEXT     &soft_off
&trans        &msc SCRL_UP      &mkp MB2          &mmv MOVE_UP      &mkp MB1           &msc SCRL_DOWN                         &trans      &trans       &kp UP     &trans      &trans     &trans
&kp LSHFT     &msc SCRL_LEFT    &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT    &msc SCRL_RIGHT                        &trans      &kp LEFT     &kp DOWN   &kp RIGHT   &trans     &trans
&kp LCTRL     &kp F8            &kp F2            &kp F7            &kp F4             &kp F3      &kp HOME     &kp END       &trans      &trans       &trans     &trans      &trans     &trans
                                                  &trans            &mkp MB3           &trans      &kp SPACE    &kp BSPC      &trans      &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
